* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #f5f7fd;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #666;
}

main {
  width: 70%;
  max-width: 650px;
  background-color: #fff;
  margin: 10rem;
  border-radius: 1.5rem;
  padding: 4rem;
  box-shadow: 1px 12px 16px 16px rgba(207, 207, 207, 0.15);
}

h1 {
  font-size: 1.6rem;
  width: 80%;
  margin-bottom: 1.5rem;
  letter-spacing: 0.1rem;
}

h2 {
  font-size: 1.1rem;
}

p {
  font-weight: 300;
  font-size: 0.9rem;
  line-height: 1.7;
}

.question-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.button-background {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #555;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
}

.accordion-element {
  /* background-color: red; */
  padding: 1rem;
  border-bottom: 1px solid lightgray;
}
